extends layout

block content
  br
  ul(class="nav nav-pills")
    li(class="nav-item")
      a(class="nav-link active" data-toggle="pill" href="#active") Active Leave Requests
    li(class="nav-item")
      a(class="nav-link" data-toggle="pill" href="#expired") Expired Leave Requests

  div(class="tab-content")
    div(class="tab-pane container active" id="active")
      br
      include facactivereqs.pug
    div(class="tab-pane container fade" id="expired")
      br
      include expiredreqs.pug