doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    script(src='/scripts/jsscripts.js')
    link(href="https://fonts.googleapis.com/css?family=Hind+Siliguri:400,600", rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons",rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    title= title
  body
    nav(class="navbar navbar-expand-sm navbar-dark")
      h1(class="navlogo")= header
      if state
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar")
          span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse" id="collapsibleNavbar")
          ul(class="mr-auto")
          ul(class="navbar-nav")
            if !fac
                li(class="nav-item")
                  a(class="nav-link", href="/users/student") Home
                li(class="nav-item")
                  a(class="nav-link",href="/users/student/leaves") Duty Leaves
            li(class="nav-item")
              a(class="nav-link",id="logout")
                i(class="material-icons") power_settings_new
    block content
