doctype html
html
  head
    link(rel='stylesheet',href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    script(src='/scripts/jsscripts.js')
    link(rel='stylesheet',href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600")
    link(rel='stylesheet', href='/stylesheets/style.css')
    title= title
  body
    nav(class="navbar navbar-expand-sm navbar-dark")
      h1(class="navlogo") DLMS
      if auth
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar")
          span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse" id="collapsibleNavbar")
          ul(class="navbar-nav")
            li(class="nav-item")
              a(class="nav-link",href="#") Link 1
            li(class="nav-item")
              a(class="nav-link", href="#") Link 2
            li(class="nav-item")
              a(class="nav-link", href="#") Link 3
    block content
