extends layout

block content
  div(class="form")
    form(action="/register",method="POST",id="register")
      select(id="designation", class="formelement")
        option(value="", selected, disabled) &nbsp;Designation
        option(value="students") Student
        option(value="faculties") Faculty
      br
      input(class="formelement",type="text",id="user",placeholder="  Name",required)
      br
      input(class="formelement",type="text",id="id",placeholder="  ID")
      br
      input(class="formelement",type="email",id="email",placeholder="  Email",required)
      br
      input(class="formelement",type="password",id="password",placeholder="  Password",required)
      br
      input(type="submit", class="btn", value="Register",id="reg",required)