block regmodal
  div(class="modal fade" id="myModal")
    div(class="modal-dialog")
      div(class="modal-content")
        <!-- Modal Header -->
        div(class="modal-header")
          h4(class="modal-title") Register
          button(type="button" class="close" data-dismiss="modal") &times;
        <!-- Modal body -->
        div(class="modal-body")
          div(class="des-select")
            button(type="button" class="des" id="faculty") Faculty
            button(type="button" class="des" id="student") Student
          div(class="reg-form hidden")
            form(action="/register",method="POST",id="register")
              input(class="formelement",type="text",id="user-reg",placeholder="Name",required)
              br
              input(class="formelement",type="email",id="email",placeholder="Email",required)
              br
              input(class="formelement",type="password",id="password",placeholder="Password",required)
              br
              input(class="formelement",type="text",id="dummy",placeholder="ID",required)
              br
              input(type="submit", class="btn btn-cus", value="Register",id="reg",required)
        <!-- Modal footer -->
        div(class="modal-footer")
          button(type="button" class="btn btn-danger cls" data-dismiss="modal") Close