extends layout

block content
  div(class="table-responsive")
    table(class="table table-dark table-striped")
      tr  
        - if (leaves!=0)
            each val,index in leaves[0]
              th= index.toUpperCase()
            - for(var i = 0;i < leaves.length;i++)
              tr
                each val,index in leaves[i]
                  td= val
        - else
            td No Duty Leave Requests