body {
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 20px;
  background-color:#233237;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  text-align: center;
  height: 100vh;
  width: 100vw;
}
h1 {
  font-family: 'Hind Siliguri',sans-serif;
  font-weight: 600;
}
nav{
  margin-top:3vh;
  width:100vw;
  background-color:#0b3c5d;
}
.navlogo{
  float:left;
}
.navbar-nav{
  float:right !important;
}
.form{
  /*border-radius: 30px;*/
  margin:10vh;
  background-color: #328cc1;
  height:250px;
  width:325px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.formelement{
  padding-left:18px;
  padding-right: 5px;
  border-radius: 25px;
  margin-top:5px;
  width:250px;
  background-color: #233237;
  color:#ffffff;
  border: none;
}
.btn-cus{
  color: #d0e1f9;
  border-radius: 15px;
  margin-top: 3vh;
  margin-bottom: 3vh;
  background-color: #0b3c5d;
  padding: 10px;
}
.btn-cus:hover{
  background-color:#d0e1f9;
  color: #0b3c5d;
}
.table{
  margin-top: 20px;
  overflow-x: scroll;
}
#logout{
  padding: 6px;
  background-color: #b30000;
  color: #d0e1f9;
  border:none;
  transition-duration: 0.5s;
  height:45px;
  width:45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}
#logout:hover{
  background-color: #000000;
  color: #b30000;
  transition-duration: 0.5s;
}
.leaveform{
  overflow-y: auto;
  padding: 10px;
  margin-top:50px;
  background-color: #328cc1;
  height:450px;
  width:450px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}
.lformelement{
  margin-top:5px;
  padding-left:18px;
  padding-right: 5px;
  border-radius: 25px;
  width:250px;
  background-color: #233237;
  color:#ffffff;
  border: none;
}
label{
  margin-top:5px;
  text-align: right;
}
.table th{
  background-color: #d0e1f9;
  color: #233237;
}
.icon{
  cursor: default;
  height:100%;
  width:50%;
  padding: 20px;
}
.icon-a{
  background-color: green;
}
.icon-d{
  background-color: red;
}
.i-container{
  padding: 0 !important;
  margin: 0 !important;
}
.accepted{
  background-color: green;
}
.denied{
  background-color: red;
}
i{
  padding: 10px;
}
.clicked{
  width:100%;
}
.hidden{
  display: none !important;
}
.modal-content, .modal-body{
  background-color:#233237;
  padding: 0 !important;
}
a{
  cursor: pointer;
}
.des{
  width:47.5%;
  border:none;
  padding: 20px;
  margin:2.5px;
  margin:2.5px
}
.reg-form{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  background-color: #328cc1;
  margin:5px;
}
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: none; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: none; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.tab-container,.tab-content{
  width:100%;
}
.floating-btn{
  cursor: pointer;
  background-color: #14898d;
  border-radius: 50%;
  position: fixed;
  right: 40px;
  bottom: 40px;
}
#eve-form{
  margin-top:5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}