body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  background-color:rgba(27, 27, 27, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  text-align: center;
  height: 100vh;
  width: 100vw;
}
h1 {
  font-family: 'Titillium Web',sans-serif;
  font-weight: 700;
}
nav{
  margin-top:3vh;
  width:100vw;
  background-color:rgba(30, 22, 90, 1);
}
.navlogo{
  float:left;
}
.navbar-nav{
  float:right;
}
.form{
  margin:10vh;
  background-color: rgba(71,73,148);
  height:30vh;
  width:30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formelement{
  margin-top:2.5vh;
  width:25vw;
}
.btn{
  margin-top: 3vh;
  background-color: rgba(170, 183, 230, 1);
  padding: 10px;
}